<!-- {% load static %}           necesary for using another css file -->

<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        a {text-decoration : none;}





    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type='text/css' href="{%static 'css/notifications.css' %}">
    <title>{% block title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

<style>
.w3-sidebar a {font-family: "Roboto", sans-serif; text-decoration: none; }
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}




</style>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<body class="w3-content" style="max-width:1400px">  <!-- place to resize main page-->

<!-- Sidebar/menu -->
<!-- Hidden Sidebar (reveals when clicked on menu icon)-->
<nav class="w3-sidebar w3-black w3-animate-left w3-xxlarge" style="display:none;padding-top:90px;left:0;z-index:2"
     id="mySidebar">        <!-- place to resize sidebar width from first letter-->
    <a href="javascript:void(0)" onclick="closeNav()" class="w3-button w3-black w3-xxxlarge w3-display-topright"
       style="padding:0 12px;">
        <i class="fa fa-remove"></i>
    </a>
    <div class="w3-bar-block w3-center">
        <a href="/" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">Trang chủ</a>
        <a class="w3-bar-item w3-button w3-text-grey w3-hover-black" href="/store/"
           onclick="closeNav()">Các cửa hàng</a>
        <a href="{% url 'order-list' %}" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">Đơn
            hàng</a>
        <a class="w3-bar-item w3-button w3-text-grey w3-hover-black" href="/storemanager/"
           onclick="closeNav()">Quản lí Cửa hàng</a>
        <a class="w3-bar-item w3-button w3-text-grey w3-hover-black" href="/foodcourtmanager/"
           onclick="closeNav()">Quản lí khu ăn uống</a>
        <a href="#contact" class="w3-bar-item w3-button w3-text-grey w3-hover-black w3-padding">Liên hệ</a>

    </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="closeNav()" style="cursor:pointer" title="close side menu"
     id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:0px">   <!-- place to resize margin of the main page -->
    <!-- Menu icon to open sidebar -->
    <span class="w3-button w3-top w3-white w3-xxlarge w3-text-grey w3-hover-text-black" style="width:auto;left:0;"
          onclick="openNav()"><i class="fa fa-bars"></i></span>
    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Top header -->
    <header class="w3-container w3-small">

        <div class="w3-right">
            <div style="font-size:13px">
                {% if user.username %}
                Xin chào <strong>{{user.username}} </strong>
                <strong> | </strong>
                <a href="/accounts/logout">Đăng xuất</a>
                {% else %}
                <a href="/accounts/login">Đăng nhập</a>
                <strong> | </strong>
                <a href="/accounts/signup">Đăng kí</a>

                {% endif %}
            </div>

        </div>


        <!--Model Popup ends-->

    </header>
    <header class="w3-container w3-xlarge">
        <a style="text-decoration: none" href="/" class="w3-left">SFCS</a>
        <p class="w3-right">
            <a style="text-decoration: none" href="/cart">
                <i class="fa fa-shopping-cart"></i>
            </a>

        </p>
        <!-- Notifications icon -->
        <ul id="nav" class="w3-right mr-3">
            <li id="notification_li">
                <a href="#" id="notificationLink">
                    <i class="fa fa-bell fa-lg" aria-hidden="true"></i>
                </a>
                <span id="notification_count">3</span>

                <div id="notificationContainer">
                    <div id="notificationTitle">Notifications</div>
                    <div id="notificationsBody" class="notifications"></div>
                    <div id="notificationFooter"><a href="#">See All</a></div>
                </div>
            </li>
        </ul>
        <!-- Start Top Search -->
        <!-- Search form -->
        <form action="/search/" method="get"
              class="form-inline d-flex justify-content-center md-form form-sm mt-0 my-2">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                   aria-label="Search" name="food_name">
        </form>
        <!-- End top search -->

    </header>
    <!-- Optional JavaScript -->

    {% block javascript %}

    <!-- script for notifications feature -->
    <script>
        $(document).ready(function(){
            $("#notificationLink").click(function(){
                $("#notificationContainer").fadeToggle(300);
                $("#notification_count").fadeOut("slow");
                return false;
            });

            //Document Click hiding the popup
            $(document).click(function(){
                $("#notificationContainer").hide();
            });

            //Popup on click
            $("#notificationContainer").click(function(){
                return false;
            });

        });






    </script>

    <script>
    // Open and close sidebar
    function openNav() {
        document.getElementById("mySidebar").style.width = "300px";         <!-- place to resize sidebar -->
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "none";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }

    function openSearchBar() { }






    </script>
    {% endblock %}
    <main>
        {% block content %}
        {% endblock %}
    </main>

</div>
</body>
</html>