{% extends 'base.html' %}

{% block title %}AddStore{% endblock %}

{% block content %}
{% load humanize %}

<form class="site-form" action="{% url 'storemanager:add-food' store.id %}" method="POST">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <p><input class="btn btn-success" type="submit" value="Thêm"> <input class="btn btn-secondary" type="button" value="Hủy bỏ" onclick="history.back()"></p>
</form>

{% endblock %}