{% extends 'base.html' %}

{% block title %}EditStore{% endblock %}

{% block content %}
{% load humanize %}


<!-- Product grid -->
<div class="w3-row mt-2">
    {% for food in menu %}
    <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
                <a href="{% url 'view_food_info' food.id %}">
                    <img src={{food.imgURL}} width="250px" height="200px">
                    <span class="w3-tag w3-display-topleft">Mới</span>
                    {% if food.stock %}
                    <div class="w3-display-middle w3-display-hover">
                        <button class="w3-button w3-black">Thông tin <i class="fa fa-shopping-cart"></i></button>
                    </div>
                    <p>{{food.name}}<br><b>{{food.price|intcomma}} VNĐ</b></p>
                    {% else %}
                    <p>{{food.name}}<br><b> Hết hàng </b></p>
                    {% endif %}
                </a>
            </div>

        </div>
    </div>
    {% endfor %}


    <!-- End page content -->
</div>


{% endblock %}
