{% extends 'base.html' %}

{% block title %}EditStore{% endblock %}

{% block content %}
{% load humanize %}

<p><a href="/storemanager/{{store.id}}/add" class="btn btn-success" > Add Food </a></p>

<!-- Product grid -->
<div class="w3-row mt-2">
    {% for food in menu %}
    <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
                <a href="{% url 'view_food_info' food.id %}">
                    <img src={{food.imgURL}} width="250px" height="200px">
                    {% if food.stock %}
                    <p>{{food.name}}<br><b>{{food.price|intcomma}} VNĐ</b></p>
                    {% else %}
                    <p>{{food.name}}<br><b> Hết hàng </b></p>
                    {% endif %}
                    <a href="/storemanager/{{store.id}}/edit/{{food.id}}/update" class="btn btn-primary"> Edit </a>
                    <a href="/storemanager/{{store.id}}/edit/{{food.id}}/delete" class="btn btn-secondary"> Delete </a>
                </a>
            </div>

        </div>
    </div>
    {% endfor %}


    <!-- End page content -->
</div>


{% endblock %}
