{% extends 'base.html' %}

{% block title %}Store Order{% endblock %}

{% block content %}
{% load humanize %}
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <strong>Danh sách các đơn hàng đang được xử lí</strong>
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Thời gian đặt</th>
                        <th scope="col">Tổng giá trị</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for store_order, order_item_list, total in processing_orders %}
                    <tr>
                        <th scope="row">{{store_order.id}}</th>
                        <td><strong>{{ store_order.order.date_created|date:'d/m/Y H:i:s' }}</strong></td>
                        <td><strong>{{ total|intcomma }}</strong></td>
                        <td>
                            <a style="text-decoration:underline;" data-toggle="collapse"
                               href="#order_detail_{{store_order.id}}"
                               role="button"
                               aria-expanded="false" aria-controls="#order_detail_{{store_order.id}}">
                                Xem chi tiết
                            </a>
                        </td>
                        <td>
                            <button class="btn btn-primary"
                               onclick='onCompleted({{store_order.store.id}}, {{store_order.id}})'>
                                Thông báo hoàn tất
                            </button>
                        </td>

                    </tr>
                    {% for order_item in order_item_list %}
                    <tr class="collapse" id="order_detail_{{store_order.id}}">
                        <td>
                            <img src="{{ order_item.product.imgURL }}" class="mr-3" alt={{order_item.product.name}}
                                 width="50px"
                                 height="50px">
                        </td>
                        <td colspan="2">
                            <h5>{{ order_item.product.name }}</h5>
                        </td>
                        <td>
                            <strong>Số lượng : {{ order_item.quantity }}</strong>
                        </td>
                        <td>
                            <strong>{{ order_item.paid_price|intcomma }} VNĐ </strong>
                        </td>

                    </tr>
                    {% endfor %}
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <strong>Danh sách các đơn hàng đã hoàn tất</strong>
                </button>
            </h2>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Thời gian đặt</th>
                        <th scope="col">Tổng giá trị</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for store_order, order_item_list, total in completed_orders %}
                    <tr>
                        <th scope="row">{{store_order.id}}</th>
                        <td><strong>{{ store_order.order.date_created|date:'d/m/Y H:i:s' }}</strong></td>
                        <td><strong>{{ total|intcomma }}</strong></td>
                        <td>
                            <a style="text-decoration:underline;" data-toggle="collapse"
                               href="#order_detail_{{store_order.id}}"
                               role="button"
                               aria-expanded="false" aria-controls="#order_detail_{{store_order.id}}">
                                Xem chi tiết
                            </a>
                        </td>


                    </tr>
                    {% for order_item in order_item_list %}
                    <tr class="collapse" id="order_detail_{{store_order.id}}">
                        <td>
                            <img src="{{ order_item.product.imgURL }}" class="mr-3" alt={{order_item.product.name}}
                                 width="50px"
                                 height="50px">
                        </td>
                        <td>
                            {{ order_item.product.name }}
                        </td>
                        <td>
                            Số lượng : {{ order_item.quantity }}
                        </td>
                        <td>
                            {{ order_item.product.price|intcomma }} VNĐ
                        </td>

                    </tr>
                    {% endfor %}
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% block javascript %}
<script>
    function onCompleted(store_id, order_id){
        var mapID ={
            1: store_id,
            2: order_id
        };
        var _url = "{% url 'storemanager:storeorder-completed' 1 2 %}".replace(/1|2/gi, function(matched){
            return mapID[matched];
        });
        $.ajax({
            type : 'GET' ,
            url : _url,

            success: function(response){
                $("#accordionExample").load(location.href + " #accordionExample");
            },
            error : function(response){
                console.log(response);
            },
        });

    }

</script>

{% endblock %}

{% endblock %}