header{
    background-clip:#0000FF;
}

h1 {
    color:#0000FF;
}

h2 {
    color:#FF0000;
}

table th, table td {
    padding: 5px;
}

.w3-container w3-xlarge{
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}