{% extends 'base.html' %}

{% block title %}
<title xmlns="http://www.w3.org/1999/html"> Shopping Cart </title>
{% endblock %}

{% block content %}
{% load humanize %}
<div class="w3-container w3-text-grey" id="food_length">
    <h4>GIỎ HÀNG ({{ cart|length }} sản phẩm)</h4>
</div>
<div class="container">
    <div class="row">
        <div class="col-9 border border-primary rounded">
            <ul class="list-unstyled">
                {% for food, quantity in cart %}
                <li class="media pt-2 pb-2">
                    <img src="{{ food.imgURL }}" class="mr-3" alt={{food.name}} width="100px" height="100px">
                    <div class="media-body col-9">
                        <h5 class="mt-0 mb-1">{{ food.name }}</h5>
                        <font size="2px"> Cung cấp bởi cửa hàng <strong> Store </strong> </font>
                        <br> <br>
                        <a href="" onclick='removeItem("{{ food.id }}")'> Xóa </a>
                    </div>
                    <div class="pr-3 col-lg-3" style="text-align: right">
                        Số lượng : <input id="quantity-input-{{food.id}}" onchange="changeItem('{{food.id}}')" class="input" type="number"
                                          value="{{quantity}}" min="1" max="100" step="1" size="10"/>
                    </div>
                    <div class="price col-lg-2" style="text-align: right">
                        <strong>{{ food.price|intcomma }} VNĐ </strong>
                    </div>

                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-2 col-sm rounded ml-3">
            <font size="2px">Thành tiền </font>
            <br>
            <h5>
                <strong id="total" style="color:red"> {{ total|intcomma }} VNĐ</strong>
            </h5>
        </div>
    </div>
</div>

{% block javascript %}

<script>
    //setup before functions
    var typingTimer;                //timer identifier
    var doneTypingInterval = 1000;  //time in ms, 5 second for example

    function changeItem(food_id) {
        //input on change, start the countdown
        clearTimeout(typingTimer);

        // only update data after user done changing
        var quantity = $("#quantity-input-" + food_id).val();
        typingTimer = setTimeout(updateItem, doneTypingInterval, food_id, quantity);
    }

    function updateItem(food_id, quantity){
        $.ajax({
            type: 'GET',
            url: "{% url 'update-item' %}",
            data: {
                "food_id": food_id,
                "value": quantity,
            },
            success: function (response) {
                // if success
                 location.reload()
            },
            error: function (response) {
                console.log(response)
            }
        });
    }


    function removeItem(food_id){
        $.ajax({
            type: 'GET',
            url: "{% url 'remove-from-cart' %}",
            data: {
                "food_id": food_id,
            },
            success: function (response) {
                // if success
                 location.reload()
            },
            error: function (response) {
                console.log(response)
            }
        });
    }


</script>

{% endblock %}


{% endblock %}

