{% extends 'base.html' %}

{% block title %}
<title> Order </title>
{% endblock %}

{% block content %}
{% load humanize %}
<div class="w3-container w3-text-grey" id="food_length">
    <h4>ĐƠN HÀNG</h4>
</div>
<div class="container">
    <div class="row">
        <div class="col-9 border border-primary rounded">
            <ul class="list-unstyled">
                <li> Mã đơn hàng : {{order.id}}</li>
                <li> Người dùng : {{ order.customer.username }}</li>
                <li> Ngày mua : {{ order.date_created|date:'d/m/Y H:i:s' }}</li>
                <li> Trạng thái đơn hàng : {{ status }} </li>
                <li> Danh sách sản phẩm : </li>
                <ul class="list-unstyled">
                    {% for item in item_list %}
                        <li> {{ item.product.name }} , số lượng : {{ item.quantity }}, giá : {{ item.paid_price }}</li>
                    {% endfor %}

                </ul>

                <li> Thành tiền : {{ total }}</li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}