{% extends 'base.html' %}

{% block title %}{{ food.name }}{% endblock %}
{% block content %}
<div class="alert alert-success" id="success-alert">
    Sản phẩm đã được thêm vào giỏ hàng.
</div>
<div class="media w3-padding-16">
    <img src={{ food.imgURL }} class="align-self-center mr-3" alt={{food.name}} width="350px" height="350px">
    <div class="media-body">
        <h2 class="mt-0"><b>{{food.name}} </b></h2>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
            vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
            lacinia congue felis in faucibus.</p>
        {% if not food.stock %}
        <h3> Hết hàng </h3>

        {% else %}
        <h3 class="mt-0"><b> {{food.price }} VNĐ</b></h3>


        <font size="2"> Số lượng :</font>
        <input id="spinner-input" type="number" name="quantity" value="1" min="0" max="100" step="1" size="10"/>
        <p class="w3-padding-16">
            <button class="btn btn-primary" id="add-cart-btn"> Thêm vào giỏ hàng
            </button>
        </p>
        {% endif %}

    </div>

</div>


<!--script src="./src/bootstrap-input-spinner.js"></--script-->

{% block javascript %}
<script>   $("#spinner-input").inputSpinner</script>
<script>

   $("#success-alert").hide();
   $("#add-cart-btn").click(function(){

        $.ajax({
            url: "{% url "add-to-cart" %}",
            type: 'GET',
            data: {
                food_id: {{ food.id}}, // data you need to pass to your function
                value: $("#spinner-input").val(),
            },
            dataType: 'json',
            success: function(data){
                if (data.success){
                    //alert('Đã thêm vào giỏ hàng');
                    $("#success-alert").fadeTo(2000, 500).slideUp(500, function() {
                         $("#success-alert").slideUp(500);
                    });
                }

            }
        });
   });



</script>
{% endblock %}
{% endblock %}