{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
{% load humanize %}
<div class="w3-container w3-text-grey" id="food">
    <p>Tìm thấy {{ food_list|length }} kết quả trùng khớp</p>
</div>

<!-- Product grid -->
<div class="w3-row">
    {% for food in food_list %}
    <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
                <a href="/food/{{ food.id }}">
                    <img src={{food.imgURL}} width="250px" height="200px">
                    <span class="w3-tag w3-display-topleft">New</span>
                    {% if food.stock %}
                    <div class="w3-display-middle w3-display-hover">
                        <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
                    </div>
                    <p>{{food.name}}<br><b>{{food.price|intcomma}} VNĐ</b></p>
                    {% else %}
                    <p>{{food.name}}<br><b>Hết hàng </b></p>
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
    {% endfor %}


    <!-- End page content -->
</div>
{% endblock %}