{% extends 'base.html' %}
{% load static %}
{% block title %}Giỏ hàng{% endblock %}

{% block content %}
{% load humanize %}
<div id="cart-body">

    <div class="w3-container w3-text-grey" id="food_length">
        <h4>GIỎ HÀNG ({{ cart|length }} sản phẩm)</h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-9 border border-primary rounded">
                <ul class="list-unstyled">
                    {% for food, quantity in cart %}
                    <li class="media pt-2 pb-2">
                        <img src="{{ food.imgURL }}" class="mr-3" alt={{food.name}} width="100px" height="100px">
                        <div class="media-body col-9">
                            <h5 class="mt-0 mb-1">{{ food.name }}</h5>
                            <font size="2px"> Cung cấp bởi cửa hàng <strong> {{ food.store.name }} </strong> </font>
                            <br> <br>
                            <a href="" onclick='removeItem("{{ food.id }}")'> Xóa </a>
                        </div>
                        <div class="pr-3 col-lg-3" style="text-align: right">
                            Số lượng <input id="quantity-input-{{food.id}}" onchange="changeItem('{{food.id}}')"
                                            class="input" type="number"
                                            value="{{quantity}}" min="1" max="100" step="1" size="10"/>
                        </div>
                        <div class="price col-lg-2" style="text-align: right">
                            <strong>{{ food.price|intcomma }} VNĐ </strong>
                        </div>

                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-2 col-sm rounded ml-3">
                <font size="2px">Thành tiền </font>
                <br>
                <h4>
                    <strong id="total" style="color:red"> {{ total|intcomma }} VNĐ</strong>
                </h4>
                <!-- Set up a container element for the button -->
                <div id="paypal-button-container"></div>

                <!-- Include the PayPal JavaScript SDK -->
                <script src="https://www.paypal.com/sdk/js?client-id=AecPuk8129DjDI9pLDVOVjU9FBefT9xC_QDs12jUzRj_Z0pre8DaR26KlnKr459P-sJh973ApwKaE18A&currency=USD"></script>
            </div>
        </div>
    </div>

</div>
<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center">
                <div id="modal-message">
                    <h3>Thành công!</h3>
                    <p>Đơn hàng của bạn đang được xử lí.</p>
                </div>
                <a id="modal-btn" class="btn btn-success" href="" ></a>
            </div>
        </div>
    </div>
</div>
<!--Model Popup ends-->
{% block javascript %}

<script>
    //setup before functions
    var timer;                //timer identifier
    var doneInputInterval = 1000;  //time in ms
    var total = '{{price}}';

    function changeItem(food_id) {
        //input on change, start the countdown for 1 seconds
        clearTimeout(timer);

        // only update data after user done changing
        var quantity = $("#quantity-input-" + food_id).val();
        timer = setTimeout(updateItem, doneInputInterval, food_id, quantity);
    }

    function updateItem(food_id, quantity){
        $.ajax({
            type: 'GET',
            url: "{% url 'update-item' %}",
            data: {
                "food_id": food_id,
                "value": quantity,
            },
            success: function (response) {
                // if success
                 $("#cart-body").load(location.href + " #cart-body");

            },
            error: function (response) {
                console.log(response)
            }
        });
    }


    function removeItem(food_id){
        $.ajax({
            type: 'GET',
            url: "{% url 'remove-from-cart' %}",
            data: {
                "food_id": food_id,
            },
            success: function (response) {
                // if success
                 $("#cart-body").load(location.href + " #cart-body");
            },
            error: function (response) {
                console.log(response)
            }
        });
    }

     function makeOrder(){
        $.ajax({
            type: 'GET',
            url: "{% url 'make-order' %}",
            success: function (response) {
                if (response.success){
                    $("#cart-body").load(location.href + " #cart-body");
                    $("#modal-btn").text("Xem danh sách đơn hàng của tôi");
                    $("#modal-btn").attr("href", "{% url 'order-list' %}");


                }
                else if(response.message == "EMPTY_CART"){
                    $("#modal-message").html("<h2> Thất bại </h2><p> Giỏ hàng trống </p>");
                    $("#modal-btn").text("Chọn món ăn");
                    $("#modal-btn").attr("href", "/#food");
                }
                else if(response.message == "LOGIN_REQUIRED"){
                    $("#modal-message").html("<p> Vui lòng đăng nhập </p>");
                    $("#modal-btn").text("Đăng nhập");
                    $("#modal-btn").attr("href", "{% url 'login' %}?next=" + location.href);
                    //document.location.href = "{% url 'login' %}?next=" + location.href;
                }
                else{
                    $("#modal-message").html("<h3> Thất bại </h3><p> Thanh toán không hoàn tất </p>");
                    $("#modal-btn").text("Quay lại");
                    $("#modal-btn").attr("href", location.href);
                }
                $("#myModal").modal('show');
            },
            error: function (response) {
                console.log(response);
            }
        });
    }

        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: total
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    makeOrder()
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }


        }).render('#paypal-button-container');


</script>

{% endblock %}


{% endblock %}

