{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load humanize %}
<!-- Image header -->
<div class="w3-display-container w3-container mb-md-5">
    <img src="{{ store.store_img }}"
         alt="This store photo" style="width:100%;height:600px">
    <div class="w3-display-topleft w3-text-red" style="padding:24px 48px">
        <h1 class="w3-jumbo w3-hide-small">Chào mừng đến với</h1>
        <h1 class="w3-hide-large w3-hide-medium">Chào mừng đến với</h1>
        <h1 class="w3-hide-small">{{store.name}}</h1>
        <p><a style="text-decoration: none" href="#food" class="w3-button w3-black w3-padding-large w3-large w3-text-white">THƯỞNG THỨC NGAY BÂY GIỜ</a></p>
    </div>
</div>

<div class="w3-container w3-text-grey" id="food">
    <p>Tổng cộng {{ menu|length }} sản phẩm</p>
</div>

<!-- Product grid -->
<div class="w3-row mt-2">
    {% for food in menu %}
    <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
                <a href="{% url 'view_food_info' food.id %}">
                    <img src={{food.imgURL}} width="250px" height="200px">
                    <span class="w3-tag w3-display-topleft">Mới</span>
                    {% if food.stock %}
                    <div class="w3-display-middle w3-display-hover">
                        <button class="w3-button w3-black">Thông tin <i class="fa fa-shopping-cart"></i></button>
                    </div>
                    <p>{{food.name}}<br><b>{{food.price|intcomma}} VNĐ</b></p>
                    {% else %}
                    <p>{{food.name}}<br><b> Hết hàng </b></p>
                    {% endif %}
                </a>
            </div>

        </div>
    </div>
    {% endfor %}


    <!-- End page content -->
</div>


{% endblock %}
