{% extends 'base.html' %}

{% block title %}
DeleteStore
{% endblock %}

{% block content %}
{% load humanize %}
<div class="container store-list">
    <div class="card border border-dark" align="center">
        <form action='.' method="post">
            {% csrf_token %}
            <h1>Bạn có chắc chắn muốn xóa cửa hàng "{{store.name}}" ?</h1>
            <p><input class="btn btn-success" type="submit" value="Có"> <input class="btn btn-secondary" type="button"
                                                                               value="Không" onclick="history.back()">
            </p>
        </form>
    </div>
</div>

{% endblock %}