{% extends 'base.html' %}

{% block title %}
ManageFoodCourt
{% endblock %}

{% block content %}
{% load humanize %}
<p>
    <a href="/foodcourtmanager/add" class="btn btn-success"> Thêm cửa hàng </a>
    <a href="/foodcourtmanager/report" class="btn btn-danger"> Báo cáo </a>
</p>

<div class="container store-list">
    <div class="column">
        {% for store in store_list %}
        <div class="card border border-dark" >
            <div class="card-body">
              <div class="media">
                <img src="{{ store.store_img }}" class="align-self-center mr-3" alt={{store.name}} width="280px" height="200px">
                <div class="media-body">
                  <h5 class="mt-0">{{store.name}}</h5>
                  <h5 class="mt-0">Chủ cửa hàng: {{store.owner}}</h5>
                  <ul> {{store.description}}  </ul>

                  <a href="/foodcourtmanager/{{store.id}}/delete" class="btn btn-secondary"> Xóa cửa hàng </a>
              </div>
            </div>

        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}