{% extends 'base.html' %}

{% block title %}
Store
{% endblock %}

{% block content %}
{% load humanize %}
<h3 class="mt-0"> <a href="/foodcourtmanager/add"> <br>Thêm cửa hàng</a> </h3>
<div class="container store-list">
    {% for store in store_list %}
   <div class="media">
      <img src="{{ store.store_img }}" class="align-self-center mr-3" alt={{store.name}} width="220px" height="200px">
      <div class="media-body">
          <h5 class="mt-0"> <a href="/store/{{store.id}}"> <br>{{store.name}}</a> </h5>
          <ul> {{store.description}}  </ul>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}